#story {
  background-color: white;
  padding: 100px;
  margin: none;
  height: 20em;
}

#venue {
  height: 400px;
  width: 100%;
  background-color: #EFE4FF;
}

#events {
  height: 400px;
  width: 100%;
  background-color: white;
}

#mapid {
  height: 400px;
}

#menu {
	position:fixed;
	top:0px;
	width:100%;
	height:75px;
	background-color:#DDDDDD;
	color: #FFFFFF;
	z-index:9999;
	display: none;
}

#storylink {
  padding-top: 20px;
  color: white;
  text-align: center;
}

#firsttext {
  color: white;
  position: relative;
  float: left;
  top: 52%;
  left: 50%;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200px;
  /*-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  /*-moz-animation: fadein 3s; /* Firefox < 16 */
  /*-ms-animation: fadein 3s; /* Internet Explorer */
  /*-o-animation: fadein 3s; /* Opera < 12.1 */
  /*animation: fadein 3s;*/
}

#storytext {
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
}

.cover {
  background-image: url("../images/button.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  animation-name: fadein;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
    height:100%;
    min-height:500px;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#topNav {
    z-index:-1;
}

#nav {
  width: 100%;
}

#nav.affix-top {
   position: absolute;
   top:0;
   left:0;
   z-index:10;
   height:54px;
   background-color:transparent;
   border:0;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}

.navbar-nav {
  margin: 1px 1px;
}

.navbar-toggle {
    outline:0;
}

@media (max-width: 768px) {
    header {

    }
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}

.scroll-top a:link,.scroll-top a:visited {
  color:#222;
}
